@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

button {
  border-width: 1.5rem;
  padding: 1px;
  margin: 5px;
  align-content: center;
  align-items: center;
}

body {
  padding: 5px;
  }

  h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 4rem;
  }




  