@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 5;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.context p{
  color: #fff;
  padding: 5vh;
}


.wave-container {
    width: 100%;
    height: 100vh;
    background-color: #1d1f21;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wave {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f1c40f;
    position: absolute;
  }
